h1 {
	font-weight: 300;
	font-size: 3rem;
	padding: 1rem;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

* {
	font-family: "DM Mono";
	box-sizing: border-box;
}

h2 {
	padding-left: 1.3rem;
	margin: 0;
	font-size: 1rem;
}

ul {
	list-style: none;
	line-height: 2.5;
	padding-top: 4rem;
	padding-bottom: 5rem;
	padding-left: 1.5rem;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: lightgrey;
}

.site-hero-wrapper {
	margin: 0;
	padding: 10%;
	min-height: 100vh;
	background-color: grey;
	background-size: 100%;
}

span {
	color: lightgrey;
}

.hero-main-wrapper p {
	width: 30%;
	margin-right: 3rem;
	line-height: 1.75;
}

.hero-main-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	align-items: baseline;
}
